<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LogicTrack", "Create", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

    <script type="text/javascript">
        function GenerateRuntimeGraph(actionName, tipo, divID, graficaNombre) {
            $.ajax({
                type: "POST",
                url: '/Despacho/' + actionName,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (chData) {
                    var aData = chData;
                    var aLabels = aData[0];
                    var aDatasetMin = aData[1];
                    var aDatasetMax = aData[2];
                    var aDatasetMed = aData[3];
                    //For Bar Chart
                    var ctx = document.getElementById(divID).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: tipo,
                        data: {
                            labels: aLabels,
                            datasets: [{
                                type: 'line',
                                label: 'Valor Minimo',
                                data: aDatasetMin,
                                fill: false,
                                backgroundColor: 'rgb(54, 162, 235)',
                            },
                            {
                                type: 'line',
                                label: 'Valor Maximo',
                                data: aDatasetMax,
                                fill: false,
                                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                            },
                            {
                                type: 'line',
                                label: 'Valor Medicion',
                                data: aDatasetMed,
                                fill: false,
                                backgroundColor: 'rgb(75, 192, 192)',
                            }
                            ]
                        },
                        options: {

                            indexAxis: 'y',
                            scaleShowValues: true,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        min: 0


                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        autoSkip: true,
                                        min: 0
                                    }

                                }]
                            }
                        }
                    });
                }
            });
        }


        Window.onload = GenerateRuntimeGraph("CrearGraficaSeguimiento", "line", "myChartSeguimiento", "Seguimiento por Hora")

        setInterval(function () {
            GenerateRuntimeGraph("CrearGraficaSeguimiento", "line", "myChartSeguimiento", "Seguimiento por Hora");
        }, 60000);
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>