@model Logictrack_listado.Models.Despacho

@{
    ViewBag.Title = "DetailsDespacho";
}

<link href="~/Content/Detalles.css" rel="stylesheet" type="text/css" />

<div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    ¿Esta seguro de iniciar transporte?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    @Html.ActionLink("Si", "EditarDespacho", new { id = Model.idDespacho }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>

    <h4>Solicitud de Despacho</h4>
    <br />
    <a data-toggle="modal" href="#exampleModal" class="btn btn-primary">
        Iniciar Transporte
    </a>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            N° de Solicitud
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idDespacho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fechaDespacho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fechaDespacho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.direccionEntrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.direccionEntrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.observacion)
        </dd>
        <dt class="col-sm-2">
            Solicitante
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.solicitante.nombre)
        </dd>
        <dt class="col-sm-2">
            Recepcionista
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.recepcionista.nombre)
        </dd>
    </dl>
</div>

<h4>Detalle</h4>
<hr />

<table class="table table-bordered">
    <thead class="table-dark text-center">
        <tr>
            <th>
                Etiqueta
            </th>
            <th>
                Medicamento
            </th>
            <th>
                Descripción
            </th>

            <th>
                Cantidad
            </th>

            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.detallesDespacho)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.etiqueta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medicamento.nombreMedicamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorTotal)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Regresar al listado", "Index")
</div>