@model IEnumerable<Logictrack_listado.Models.Despacho>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Despacho.css" rel="stylesheet" type="text/css" />

<h2>Solicitudes</h2>
<hr />

<div style="overflow-x:auto;">
    <table class="table table-bordered table-sm table-striped" cellspacing="0" width="120%">
        <thead class="table-dark text-center">
            <tr class="text-center">
                <th>
                    @Html.DisplayNameFor(model => model.idDespacho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaDespacho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direccionEntrega)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.observacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @if (item.estado == "Transporte")
                    {
                        @Html.ActionLink(item.idDespacho.ToString(), "Details", new { id = item.idDespacho }, new { @class = "btn btn-success" })
                    }
                    else if (item.estado == "Despacho")
                    {
                        @Html.ActionLink(item.idDespacho.ToString(), "Details", new { id = item.idDespacho }, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink(item.idDespacho.ToString(), "Details", new { id = item.idDespacho }, new { @class = "btn btn-warning" })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaDespacho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccionEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
            </tr>
        }

    </table>
</div>